
# ====================================================================
# Required Fields
# ====================================================================

# To generate this file, run the following command:
# npx ts-node src/scripts/generateTestEnv.ts

# To use this file, rename it to .env and fill in the required fields or run the following command:
# cp .env.example .env

# On which environment the app is running
# Enum: ["development","production","test"]
NODE_ENV=development

# SQS Region
SQS_REGION=

# SQS Queue URL
# String
LEAD_GENERATOR_QUEUE_URL=

# SQS Queue URL
# String
MAIL_SENDER_QUEUE_URL=

# AWS Key
# String
AWS_KEY=

# AWS Secret
# String
AWS_SECRET=

# ====================================================================
# Optional
# ====================================================================

# Must be true to enable debug mode. in debug mode, the app will log more information
DEBUG=

# Cron expression for agent scheduler
AGENT_SCHEDULER_CRON=

# Cron expression for mail sender
MAIL_SENDER_CRON=

# Postgres Host
PG_HOST=

# Postgres Port
PG_PORT=

# Postgres User
PG_USER=

# Postgres Password
PG_PASSWORD=

# Postgres Database
PG_DATABASE=

# Postgres SSL
PG_SSL=
