
# ====================================================================
# Required Fields
# ====================================================================

# To generate this file, run the following command:
# npx ts-node src/scripts/generateTestEnv.ts

# To use this file, rename it to .env and fill in the required fields or run the following command:
# cp .env.example .env

# On which environment the app is running
# Enum: ["development","production","test"]
NODE_ENV=development

# A Brightdata API key
# String
BRIGHTDATA_API_KEY=

# SQS Region
# String
SQS_REGION=

# SQS Queue URL
# String
WEB_SCRAPPER_QUEUE_URL=

# SQS ai content/email generator Queue URL
# String
CONTENT_GENERATOR_QUEUE_URL=

# AWS Key
# String
AWS_KEY=

# AWS Secret
# String
AWS_SECRET=

# ====================================================================
# Optional
# ====================================================================

# Enable debug mode
DEBUG=
